:root {
  --sage: #c9cba3ff;
  --wine: hsla(350, 30%, 34%, 1);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro'), url('../assets/fonts/Acumin-RPro.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Acumin Pro Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Acumin Pro Bold'), url('../assets/fonts/Acumin-BdPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: local('Acumin Pro Bold Italic'), url('../assets/fonts/Acumin-BdItPro.woff') format('woff');
  }

body {
  background-color: rgb(15, 9, 17);
  font-family: 'Acumin Pro Bold';
}

.main-layout {
  min-width: 80vw;
  min-height: 80vh;
  display: grid;
  place-items: center;
}

.title {
  color: white;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.logo img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}



h6 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Acumin Pro Bold';
  color: hsl(39, 100%, 83%);
  margin: 0 !important;
}

.cardsContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 15rem;
  height: 20rem;
  color: #2e2d31;
  background-color: #7c7b7f;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  margin: auto;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.temporary_text img {
  width: 10rem;

}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

.card_description {
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

 a {
  text-decoration: none;
}

.actionBtn {
  border: none;
  background-color: #723d46ff;
  display: flex;
  justify-content: center;
  width: 10rem;
  padding: 1rem;
  border-radius: 5rem;
  text-decoration: none;
}